$beigeClaro: #FEE5BF;
$beigeoscuro: #E0B86D;
$negro: #333333;
$grisOscuro: #616162;
$grisClaro: #F5F5F5;
$grisClaro2: #C5C5C5;
$blanco: #FFFFFF;


.bannerImage{
    position: relative;
    background-image: url(/assets/img/banner.png);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding-bottom: 250px 0px 200px;
}

.botonBanner--tratamientos{
    border-radius: 4px ;
    border: 1px solid $blanco;
    outline: none;
    background-color: $blanco;
}

.botonBanner--contacto{
    border: 1px solid $blanco;
    border-radius: 4px ;
    outline: none;
    background-color: transparent;
}

.botonSobreMi{
    border-radius: 4px ;
    outline: none;
    border:none;
    background-color:$grisOscuro;
}

.backgroundSobreMi{
    background-color:$grisClaro2;
}

.backgroundTratamientos{
    background-color:$beigeClaro;
}

.cardTratamiento{
    color:$grisOscuro;
    background-color:$beigeoscuro;
}

.circleFeature{
    background-color:$beigeoscuro;
}
